﻿@model ArkivaTest.ViewModels.ArchiveViewModel
@{
    int countResults = 0;
    if (Model.DocumentNameSearch != null || Model.TagNameSearch != null || Model.BoxNumberSearch != null || Model.LocationSearch != null || Model.ShelfSearch != null || Model.FromDateSearch != null || Model.ToDateSearch != null || Model.DocumentTypeNameSearch != null)
    {
        var count = 0;
        <table class="container row">
            @foreach (var document in Model.Documents)
            {
				string str = document.DocumentName;
				char pad = ' ';
				if (str.Length <= 20)
				{
			    str = str.PadRight(20, pad);
				}
			    if (str.Length >20)
			    {
				str = string.Concat(str.Take(15));
				str = str + "...  ";
				}
                var path = ((ArkivaTest.Controllers.HomeController)this.ViewContext.Controller).GetDocumentPath(document);
                countResults = countResults + 1;

                if (count % 3 == 0)
                {
                    <tr></tr>
                }

                <tr class="col-sm-2" style="margin-top:20px">
					<td>
						<i class="fa fa-file fa-3x js-edit" type="button" id="preview" style="cursor:pointer" data-id="@document.Id" data-target="#previewModal" data-toggle="modal" onclick="$('#searchModal').modal('hide')" title="@path"></i>
						<br />
						<strong>@str</strong>
					</td>
                </tr>
                count = count + 1;
            }
        </table>
    }

    else if (Model.InspectionNumberSearch != null)
    {
        var count = 0;
        <table class="container row">
            @foreach (var inspection in Model.Inspections)
            {
                countResults = countResults + 1;

                if (count % 3 == 0)
                {
                    <tr></tr>
                }
                <tr class="col-sm-2" style="margin-top:20px">
                    <td>
                        <i class="fa fa-folder fa-3x js-inspection" type="button" style="cursor:pointer" inspectionSubject="@inspection.SubjectId" data-id="@inspection.Id" onclick="$('#searchModal').modal('hide');" title="Subjektet/@inspection.Subject.SubjectName/@inspection.InspectionNumber"></i>
                        <br />
                        <strong>@inspection.InspectionNumber</strong>
                    </td>
                </tr>
                count = count + 1;
            }
        </table>
    }
    else if (Model.SubjectNameSearch != null)
    {

        var count = 0;
        <table class="container row">
            @foreach (var subject in Model.Subjects)
            {
                countResults = countResults + 1;

                if (count % 3 == 0)
                {
                    <tr></tr>
                }

                <tr class="col-sm-2" style="margin-top:20px">
                    <td>
                        <i class="fa fa-folder fa-3x js-subject" type="button" style="cursor:pointer"  data-id="@subject.Id" onclick="$('#searchModal').modal('hide');" title="Subjektet/@subject.SubjectName"></i>
                        <br />
                        <strong>@subject.SubjectName</strong>
                    </td>
                </tr>
                count = count + 1;
            }
        </table>
    }

    if (countResults == 0)
    {
        <h3>Nuk ka rezultat për kërkimin e kryer.</h3>
    }
}


