﻿@{
    ViewBag.Title = "Rreth Nesh";
}
<h2>@ViewBag.Title.</h2>
<h3></h3>

<p style="align-content:center">
	<strong>Soft & Solution| www.softsolution.al</strong> <br />
	113 Rruga Hoxha Tahsim<br />
	1017 Tirana, Albania
</p>
