﻿@*
	/**
	* Versioni: 1.0.0
	* Data: 11/08/2020
	* Programuesi: Emilio Shahaj
	* Pershkrimi: View i faqes kryesore te Arkives
	(c) Copyright by Soft & Solution
	**/
*@

@model ArkivaTest.ViewModels.ArchiveViewModel
@using Microsoft.AspNet.Identity
@{
	ViewBag.Title = "Faqja Kryesore";
}

<html>
<head>
	<link rel="stylesheet"
		  href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<script src="/Scripts/plugins/pdfjs/pdf.js"></script>
	<link href="/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
</head>
<body class="gray-bg">
	<hr />

	<div class="wrapper wrapper-content animated fadeInRight">
		<hr />
		<div class="row">
			<div class="col-lg-2">

			</div>

			<div class="col-lg-8">
				<div class="ibox ">
					<div class="ibox-title">
						<h2><strong>Arkiva</strong></h2>

					</div>
					<div class="ibox-content">
						<div class="row">
							<div class="col-sm-8">
								<div id="jstree1">
									<ul>
										<li class="jstree-open" id="subjektetRoot">

											Subjektet
											<ul>
												@foreach (var subject in Model.Subjects.ToList())    // Listohen te gjithe subjektet
												{

													<li id="subjekti @subject.Id">
														@subject.SubjectName
														<ul>
															@foreach (var inspection in Model.Inspections.ToList())
															{
																if (inspection.SubjectId == subject.Id)    // Listohen te gjithe inspektimet si foldera brenda subjekteve perkatese
																{
																	<li id="inspektimi @inspection.Id" class="inspectionNode">
																		@inspection.InspectionNumber

																		<ul>
																			@foreach (var documentType in Model.DocumentTypes.ToList())
																			{
																				if (documentType.InspectionId == inspection.Id && ((ArkivaTest.Controllers.HomeController)this.ViewContext.Controller).DocumentTypeHasDocuments(documentType.Id)) // Listohen te gjithe llojet e dokumentit qe kane dokumenta, si foldera brenda inspektimeve perkatese
																				{

																					<li>
																						<container class="inline-row">
																							<text class="col-md-2" style="width:70px;padding-left:0">@documentType.TypeName </text>
																							<text class="col-lg-1" style="width:40px;float:right;padding-left:0">
																								<button class="btn btn-xs btn-info js-downloadZip" data-id="@documentType.Id" title="Shkarko Zip"><i class="fa fa-file-zip-o"></i></button>
																							</text>
																						</container>


																						<ul class="row">
																							@foreach (var document in Model.Documents.ToList())
																							{
																								string str = document.DocumentName;
																								char pad = ' ';
																								if (str.Length <= 12)    //Nqs emri i dokumentit eshte me pak se 12 karaktere i shtojme hapesira deri sa te shkoje 12 karaktere
																								{
																									str = str.PadRight(12, pad);
																								}
																								if (str.Length > 12)     //Ne rast te kundert emri i dokumentit pritet 10 karaktere dhe shtohet trepikesh
																								{
																									str = string.Concat(str.Take(10));
																									str = str + "...";
																								}
																								if (document.DocumentTypeId == documentType.Id) //Shfaqen dokumentet sipas llojeve perkatese
																								{
																									<li data-jstree='{"type":"file"}'>
																										<container class="inline-row">
																											<text class="col-lg-3" style="width:85px;padding-left:0" id="documentNameFormat" title="@document.DocumentName">@str&nbsp;&nbsp;&nbsp; </text>
																											<text class="col-lg-1" style="width:40px;float:right;padding-left:0">
																												<button class="btn-xs btn btn-primary js-edit" type="button" id="preview" data-id="@document.Id" title="Modifiko"><i class="fa fa-pencil"></i></button>
																												<button class="btn-xs btn btn-info js-download" type="button" data-id="@document.Id" title="Shkarko"><i class="fa fa-download"></i></button>
																												@if (document.ApplicationUserId == User.Identity.GetUserId())  //Nqs perdoruesi qe ka krijuar dokumentin nuk eshte login butoni qe fshin dokumentin behet hide
																												{
																													<button class="btn-xs btn btn-danger js-delete" type="button" data-id="@document.Id" title="Fshi"><i class="fa fa-trash"></i></button>
																												}
																											</text>
																										</container>
																									</li>
																								}
																							}
																						</ul>
																					</li>
																				}
																			}
																		</ul>
																	</li>
																}
															}
														</ul>

													</li>
												}
											</ul>
										</li>
									</ul>
								</div>

							</div>

							<div class="modal inmodal" id="previewModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content animated fadeInDown">
										<div class="modal-header">
											<h6 class="modal-title">Modifikimi i dokumentit</h6>
										</div>
										<div class="modal-body" id="PreviewResults">
											@using (Html.BeginForm("Edit", "Home", FormMethod.Post, new { @id = "fileEdit" }))
											{
												@Html.AntiForgeryToken()
												<div class="form-horizontal">

													@Html.ValidationSummary(true, "", new { @class = "text-danger" })

													<label>Vendodhja fizike e dokumentit</label>
													<div class="form-inline form-group row">
														<div class="col-lg-12">
															@Html.EditorFor(model => model.Document.Location, new { htmlAttributes = new { @class = "form-control", @placeholder = "Zyra", @style = "width:33%", @autocomplete = "off", @id = "LocationEdit" } })
															@Html.EditorFor(model => model.Document.BoxNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nr i kutisë", @style = "width:32%", @autocomplete = "off", @id = "BoxNumberEdit" } })
															@Html.EditorFor(model => model.Document.Shelf, new { htmlAttributes = new { @class = "form-control", @placeholder = "Rafti", @style = "width:33%", @autocomplete = "off", @id = "ShelfEdit" } })
														</div>
													</div>

													<label class="required">Fusha indeksimi</label>
													<div class="form-group row">
														<div class="col-lg-10">
															@Html.EditorFor(model => model.Tag.TagName, new { htmlAttributes = new { @class = "form-control tagsinput", @required = "required", @placeholder = "Fusha indeksimi", @id = "TagEdit" } })
															@Html.ValidationMessageFor(model => model.Tag.TagName, "", new { @class = "text-danger" })
														</div>
													</div>

													<div class="col-lg-4"></div>
													@Html.HiddenFor(m => m.Document.Id, new { @id = "idOfDocument" })  <!-- Hidden field qe mban id e dokumentit qe po behet edit -->
													@Html.ValidationMessageFor(model => model.Document.Id, "", new { @class = "text-danger" })

													<button type="button" class="btn btn-white" data-dismiss="modal">Mbyll</button>
													<button type="submit" class="btn btn-success" id="submitEdit" onclick="$('.text-danger').show();">Ruaj</button>

												</div>

											}


										</div>
										<div id="messageArea" style="display:none; text-align:center">
											<p>Për pamjen paraprake vendosni një dokument të formatit "dokument.pdf".</p>
										</div>

										<div class="modal-footer" id="previewArea">
											<!-- id e footer sherben per te fshehur ose shfaqur footer ne varesi te formatit te dokumentit -->
											<div class="text-center pdf-toolbar">
												<div class="btn-group">
													<button id="prev" class="btn btn-white"><i class="fa fa-long-arrow-left"></i> <span class="hidden-xs">Para</span></button>
													<button id="next" class="btn btn-white"><i class="fa fa-long-arrow-right"></i> <span class="hidden-xs">Pas</span></button>

													<span class="btn btn-white hidden-xs">Faqja: </span>
													<div class="input-group">
														<input type="text" class="form-control" id="page_num">
														<div class="input-group-btn">
															<button type="button" class="btn btn-white" id="page_count">/ </button>
														</div>
													</div>
												</div>
											</div>

											<div class="text-center m-t-md">
												<canvas id="the-canvas" class="pdfcanvas border-left-right border-top-bottom b-r-md"></canvas> <!-- Canvas ku do behet preview e dokumentit -->
											</div>
											<div class="footer">
												<div>
													<strong>Soft & Solution</strong>  &copy; 2020
												</div>
											</div>

										</div>
									</div>
								</div>
							</div>


							<div class="col-sm-4 border-left ">
								<button class="btn btn-success dim" type="button" data-toggle="modal" id="uploadFile" title="Ngarko dokument" data-target="#uploadFileModal"><i class="fa fa-upload"></i></button>
								<div class="modal inmodal" id="uploadFileModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content animated fadeInDown">
											<div class="modal-header">
												<h6 class="modal-title">Ngarkoni Dokumenta</h6>
											</div>
											<div class="modal-body">
												@using (Html.BeginForm("Create", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @id = "fileupload" }))
												{
													@Html.AntiForgeryToken()

													<div class="form-horizontal">

														@Html.ValidationSummary(true, "", new { @class = "text-danger" })

														<label class="required">Lloj dokumenti</label>
														<div class="form-group row">
															<div class="col-lg-10">

																@Html.DropDownListFor(m => m.Document.DocumentTypeId, new SelectList(Model.DocumentTypes, "Id", "TypeName"), "Zgjidhni llojin e dokumentit", new { @class = "form-control", @id = "swalDocTypeId" })
																@Html.ValidationMessageFor(model => model.UploadedFiles, "", new { @class = "text-danger" })<br />
																@Html.ValidationMessageFor(model => model.Document.DocumentTypeId, "", new { @class = "text-danger" })
															</div>
															<div class="container">
																<div class="row files" id="files1">
																	<div class="col-lg-1">
																		<span class="btn btn-success btn-file" style="display:block" onclick="document.getElementById('getFile').click(); ">
																			Ngarko  @Html.TextBoxFor(model => model.UploadedFiles, "", new { @type = "file", @multiple = "multiple", @name = "files1", @style = "display:none", @id = "getFile", @class = "files" })
																		</span>
																	</div>

																	<ul class="fileList col-lg-10" style="margin-left:17px; margin-top:5px" id="listOfFiles"></ul>
																</div>
															</div>


														</div>

														<label class="required">Fusha indeksimi</label>
														<div class="form-group row">
															<div class="col-lg-10">
																@Html.EditorFor(model => model.Tag.TagName, new { htmlAttributes = new { @class = "form-control tagsinput", @required = "required", @placeholder = "Taget", @id = "tagNameSwal", @style = "width:200px" } })
																@Html.ValidationMessageFor(model => model.Tag.TagName, "", new { @class = "text-danger" })
															</div>
														</div>

														<label>Vendodhja fizike e dokumentit</label>

														<div class="form-inline form-group row">
															<div class="col-lg-12">
																@Html.EditorFor(model => model.Document.Location, new { htmlAttributes = new { @class = "form-control", @placeholder = "Zyra", @style = "width:33%", @autocomplete = "off" } })
																@Html.EditorFor(model => model.Document.BoxNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nr i kutisë", @style = "width:32%", @autocomplete = "off" } })
																@Html.EditorFor(model => model.Document.Shelf, new { htmlAttributes = new { @class = "form-control", @placeholder = "Rafti", @style = "width:33%", @autocomplete = "off" } })
															</div>
														</div>

														<div class="col-lg-4"></div>

														<button type="button" class="btn btn-white" data-dismiss="modal" onclick="$('.text-danger').hide();">Mbyll</button>
														<button type="submit" class="btn btn-primary" id="addDocument" onclick="$('.text-danger').show();">Ruaj</button>

													</div>
												}

											</div>
										</div>
									</div>
								</div>

								@using (Html.BeginForm("Search", "Home", new AjaxOptions { UpdateTargetId = "SearchResults" }))
								{

									<div class="form-horizontal" style="margin-left:15px;margin-right:15px">
										<div class="form-group">
											<label>Subjekti</label>
											@Html.EditorFor(m => m.SubjectNameSearch, new { htmlAttributes = new { @class = "form-control", @placeholder = "Emër subjekti", @autocomplete = "off" } })
										</div>

										<div class="form-group">
											<label>Numër inspektimi</label>
											@Html.EditorFor(m => m.InspectionNumberSearch, new { htmlAttributes = new { @class = "form-control", @placeholder = "Numër inspektimi", @autocomplete = "off" } })
										</div>

										<div class="form-group">
											<label>Lloj dokumenti</label>
											@Html.DropDownListFor(m => m.DocumentTypeNameSearch, new SelectList(Model.DocumentTypes, "TypeName", "TypeName"), "Zgjidhni llojin e dokumentit", new { @class = "form-control" })
										</div>

										<div class="form-group">
											<label>Emër dokumenti</label>
											@Html.EditorFor(m => m.DocumentNameSearch, new { htmlAttributes = new { @class = "form-control", @placeholder = "dokument.pdf", @autocomplete = "off" } })
										</div>

										<div class="form-group">
											<label>Fusha indeksimi</label>
											@Html.EditorFor(model => model.TagNameSearch, new { htmlAttributes = new { @class = "form-control tagsinput", @placeholder = "Indeksimi" } })
										</div>

										<div class="form-inline form-group">
											<label>Vendodhja fizike e dokumentit</label><br />
											@Html.EditorFor(model => model.LocationSearch, new { htmlAttributes = new { @class = "form-control", @placeholder = "Zyra", @style = "width:32%", @autocomplete = "off" } })
											@Html.EditorFor(model => model.BoxNumberSearch, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nr i kutisë", @style = "width:33%", @autocomplete = "off" } })
											@Html.EditorFor(model => model.ShelfSearch, new { htmlAttributes = new { @class = "form-control", @placeholder = "Rafti", @style = "width:32%", @autocomplete = "off" } })
										</div>

										<div class="form-group" id="data_5">
											<label>Data e regjistrimit të dokumentit</label>
											<div class="input-daterange input-group" id="datepicker">
												@Html.EditorFor(model => model.FromDateSearch, new { htmlAttributes = new { @class = "input-sm form-control", @name = "start", @placeholder = "dd/mm/yyyy", @autocomplete = "off" } })
												<span class="input-group-addon"> - </span>
												@Html.EditorFor(model => model.ToDateSearch, new { htmlAttributes = new { @class = "input-sm form-control", @name = "end", @placeholder = "dd/mm/yyyy", @autocomplete = "off" } })
											</div>
										</div>

										<div class="col-sm-4"></div>

										<button class="ladda-button btn-sm btn btn-primary" data-style="zoom-in" type="button" id="search"><strong>Kërko</strong></button>
										<button class="btn btn-sm btn-white" type="button" onclick="$('#TagNameSearch').tagsinput('removeAll');this.form.reset(); "><strong>Pastro</strong></button>

										<div class="modal inmodal" id="searchModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
											<div class="modal-dialog">
												<div class="modal-content animated fadeInDown">
													<div class="modal-header">
														<h6 class="modal-title">Rezultatet e kërkimit</h6>
													</div>
													<div class="modal-body" id="SearchResults">


													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-info" data-dismiss="modal">Mbyll</button>
													</div>
												</div>
											</div>
										</div>

									</div>
								}

							</div>

						</div>
					</div>

				</div>
			</div>

		</div>
	</div>

</body>
</html>
@section Styles {

	@Styles.Render("~/Content/plugins/jsTree/style.css")
	@Styles.Render("~/plugins/tagInputsStyles")
	@Styles.Render("~/plugins/dateRangeStyles")
	@Styles.Render("~/plugins/dataPickerStyles")
	@Styles.Render("~/plugins/laddaStyles")
	@Styles.Render("~/plugins/sweetAlertStyles")
}
@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/plugins/dataPicker")
	@Scripts.Render("~/plugins/jsTree")
	@Scripts.Render("~/plugins/tagInputs")
	@Scripts.Render("~/plugins/dateRange")
	@Scripts.Render("~/plugins/ladda")
	@Scripts.Render("~/plugins/sweetAlert")
	<style>
		.jstree-icon {
			float: left;
		}

		.bootstrap-tagsinput {
			width: 100%;
		}

		.required::after {
			content: "*";
			font-weight: bold;
			color: red;
		}
	</style>
	<script type="text/javascript">

	$(document).ready(function () {


        $('#submitEdit').on('click', function (e) {

            if (document.getElementById("TagEdit").value.length > 0) {

                e.preventDefault();
                this.disabled = 'disabled';
                swal({
                    title: "Sukses!",
                    text: "Modifikimi u realizua me sukses!",
                    type: "success",
                    showConfirmButton: false
                });
                setTimeout(function () {
                    $('#fileEdit').submit();  //Forma Edit behet submit
                }, 850)

            };
        });




        document.getElementById("uploadFile").disabled = true;

        $('#jstree1').on('click', '.inspectionNode', function () {  //Shfaq butonin e shtimit te dokumenteve kur hapet dosja e inspektimeve
            var nodeInspection = $(this);
            var isOpen = nodeInspection.attr("aria-expanded");
            if (isOpen=='true') {
                document.getElementById("uploadFile").disabled = false;
            }
            else {
                document.getElementById("uploadFile").disabled = true; //Fsheh butonin e shtimit te dokumentit kur mbyllet dosja e inspektimeve
            }
        });

        $('#jstree1').on('dblclick', '.inspectionNode', function () {
            var nodeInspection = $(this);
            var isOpen = nodeInspection.attr("aria-expanded");
            if (isOpen == 'true') {
                document.getElementById("uploadFile").disabled = false;
            }
            else {
                document.getElementById("uploadFile").disabled = true;
            }
        });

        $('#previewModal').on('hidden.bs.modal', function () {
            window.location = window.location;
        });


		$('#addDocument').on('click', function (e) {

			if ((document.getElementById("swalDocTypeId").value.length > 0) && (document.getElementById("getFile").value.length > 0) && (document.getElementById("tagNameSwal").value.length > 0)) {
				e.preventDefault();       //Nqs fushat qe jane required te forma Create jane te plotesuara behet shfaqja e sweet alert shtimi u realizua me sukses
                this.disabled = 'disabled';
                swal({
					title: "Sukses!",
					text: "Shtimi u realizua me sukses!",
                    type: "success",
                    showConfirmButton: false
				});
				setTimeout(function () {
					
					
					$('#fileupload').submit();  //Forma Create behet submit pasi perfundon shfaqja e sweet alert
				},850)

			};
		});



            $('#jstree1').on('click', '.js-edit', function () {
                    var myDocumentId = $(this).data('id');
                    $(".modal-body #idOfDocument").val(myDocumentId);   //Kalohet id e dokumentit te fusha hidden e formes Edit

			});

            $('#jstree1').on('click', '.js-delete', function () {
                var button = $(this);
                swal({
                    title: "A jeni të sigurt?",
                    text: "Jeni të sigurt që doni ta fshini këtë dokument?",
                    type: "warning",
                    showCancelButton: true,
                    cancelButtonText: "Anullo",
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Po",
                    closeOnConfirm: false
                    }, function () {
                        swal({
                            title: "Sukses!",
                            text: "Dokumenti u fshi me sukses.",
                            type: "success",
                            showConfirmButton: false,
                        });
                        $.ajax({
                            url: "/Home/Delete",
                            data: { id: button.data('id') },           //Kalohet id e dokumentit te action Delete
                            success: function () {
                                button.parents(".jstree-leaf").remove();
                                window.location.href = 'Index';
                            },
                            error: function () {
                                button.parents(".jstree-leaf").remove();
                                window.location.href = 'Index';
                            }
                        });
    });


			});

		$('#jstree1').on('click', '.js-edit', function () {
			var button = $(this);
                $.ajax({
                    url: "/Home/FillEditForm",
                    data: { id: $(this).data('id') },
					success: function (response) {              // Nga objekti json qe merret nga Action FillEditForm merren te dhenat per nje dokument dhe shfaqen ne fushat perkatese
						$('#TagEdit').tagsinput('removeAll');
						$('#LocationEdit').val(response.result.Location);
						$('#BoxNumberEdit').val(response.result.BoxNumber);
						$('#ShelfEdit').val(response.result.Shelf);
                        $('#TagEdit').tagsinput('add', response.resultTag.TagName);
                        $('#previewModal').modal('show');

                    },
					error: function () {

					},

                });

		});

		$('#SearchResults').on('click', '.js-edit', function () {
                var button = $(this);
                $.ajax({
                    url: "/Home/FillEditForm",
                    data: { id: $(this).data('id') },
					success: function (response) {
						$('#TagEdit').tagsinput('removeAll');
						$('#LocationEdit').val(response.result.Location);
						$('#BoxNumberEdit').val(response.result.BoxNumber);
						$('#ShelfEdit').val(response.result.Shelf);
                        $('#TagEdit').tagsinput('add', response.resultTag.TagName);
                        $('#previewModal').modal('show');
                    },
					error: function () {
						alert("Error");
					},

                });

            });


            $('#jstree1').on('click', '.js-download', function () {
                var docId = $(this).data('id')
                $.ajax({
                    url: "/Home/Download",
                    data: { id: $(this).data('id') },       //Kalohet id e dokumentit te Action Download
                    success: function (data) {
                        window.location.href = "@Url.RouteUrl(new
                { Controller = "Home", Action = "Download" })/" + docId ;

                },
                    error: function () {
                        alert("Fail")
                    }

                });
			});


			$('#jstree1').on('click', '.js-downloadZip', function () {
				var docTypeId = $(this).data('id')
				$.ajax({
					url: "/Home/DownloadZip",
                    data: { id: $(this).data('id') },       //Kalohet id e llojit te dokumentit te Action Download
					success: function (data) {
						window.location.href = "@Url.RouteUrl(new
                { Controller = "Home", Action = "DownloadZip" })/" + docTypeId;

					},
					error: function () {
						alert("Fail")
					}

				});
			});


			$('#SearchResults').on('click', '.js-edit', function () {
				var myDocumentId = $(this).data('id');
				$(".modal-body #idOfDocument").val(myDocumentId);       //Kalohet id e dokumentit nga modalja SearchResults tek forma Edit

			});

        $('#SearchResults').on('click', '.js-inspection', function () {     //Folderi inspektim qe klikohet ne modalin SearchResults hapet ne tree view sipas id perkatese
				var myInspectionId = $(this).data('id');
				var inspectionSubjectId=$(this).attr('inspectionSubject');
				$('#jstree1').jstree("open_node", $('#subjektetRoot'));
				$('#jstree1').jstree("open_node", document.getElementById("subjekti "+inspectionSubjectId));
				$('#jstree1').jstree("open_node", document.getElementById("inspektimi " + myInspectionId));
				var inspectionNode = document.getElementById("inspektimi " + myInspectionId);
				inspectionNode.classList.add("text-navy");
				setTimeout(function () {
					inspectionNode.classList.remove("text-navy");

				},1200)
			});

			$('#SearchResults').on('click', '.js-subject', function () {    //Folderi subjekt qe klikohet ne modalin SearchResults hapet ne tree view sipas id perkatese
				var mySubjectId=$(this).data('id');
				$('#jstree1').jstree("open_node", $('#subjektetRoot'));
				$('#jstree1').jstree("open_node", document.getElementById("subjekti " + mySubjectId));
				var subjectNode = document.getElementById("subjekti " + mySubjectId);
				subjectNode.classList.add("text-navy");
				setTimeout(function () {
					subjectNode.classList.remove("text-navy");

				},1200)
			});


		var url1 = '@Url.Action("Search", "Home")';




	$('#search').click(function () {
        $('#search').ladda();
        $('#search').ladda('start');
            var ajaxSearchModel = {

                DocumentNameSearch: $('#DocumentNameSearch').val(),
                SubjectNameSearch: $('#SubjectNameSearch').val(),
                InspectionNumberSearch: $('#InspectionNumberSearch').val(),
                DocumentTypeNameSearch: $('#DocumentTypeNameSearch').val(),
                TagNameSearch: $('#TagNameSearch').val(),
                LocationSearch:$('#LocationSearch').val(),
                BoxNumberSearch:$('#BoxNumberSearch').val(),
                ShelfSearch:$('#ShelfSearch').val(),
                FromDateSearch:$('#FromDateSearch').val(),
                ToDateSearch:$('#ToDateSearch').val(),
            };

            $.ajax({

                success: function () {
                    document.getElementById("SearchResults").innerHTML = "<strong>Ju lutem prisni...</strong>";
                    $('#SearchResults').load(url1, { searchModel: ajaxSearchModel });
                    $('#search').ladda('stop');
                    $('#searchModal').modal('show');
				}

			});

        });
		//$.datepicker.setDefaults($.datepicker.regional['en']);
            $('#data_5 .input-daterange').datepicker({
                keyboardNavigation: false,
                forceParse: false,
				autoclose: true,
				format: 'dd/mm/yyyy'
            });

            //$('input[name="daterange"]').daterangepicker();

            //$('#reportrange span').html(moment().subtract(29, 'days').format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));

            //$('#reportrange').daterangepicker({
            //    format: 'MM/DD/YYYY',
            //    startDate: moment().subtract(29, 'days'),
            //    endDate: moment(),
            //    dateLimit: { days: 60 },
            //    showDropdowns: true,
            //    showWeekNumbers: true,
            //    timePicker: false,
            //    timePickerIncrement: 1,
            //    timePicker12Hour: true,
            //    ranges: {
            //        'Today': [moment(), moment()],
            //        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            //        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            //        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            //        'This Month': [moment().startOf('month'), moment().endOf('month')],
            //        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            //    },
            //    opens: 'right',
            //    drops: 'down',
            //    buttonClasses: ['btn', 'btn-sm'],
            //    applyClass: 'btn-primary',
            //    cancelClass: 'btn-default',
            //    separator: ' to ',
            //    locale: {
            //        applyLabel: 'Submit',
            //        cancelLabel: 'Cancel',
            //        fromLabel: 'From',
            //        toLabel: 'To',
            //        customRangeLabel: 'Custom',
            //        daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
            //        monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
            //        firstDay: 1
            //    }
            //}, function (start, end, label) {
            //    console.log(start.toISOString(), end.toISOString(), label);
            //    $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            //});


        });

        $('#jstree1').jstree({
            'core': {
                'check_callback': false
            },
            'plugins': ['types', 'dnd'],
            'types': {
                'default': {
                    'icon': 'fa fa-folder'
                },
                'html': {
                    'icon': 'fa fa-file-code-o'
                },
                'svg': {
                    'icon': 'fa fa-file-picture-o'
                },
                'css': {
                    'icon': 'fa fa-file-code-o'
                },
                'img': {
                    'icon': 'fa fa-file-image-o'
                },
                'js': {
                    'icon': 'fa fa-file-text-o'
                },
                'file': {
                    'icon': 'fa fa-file'
                }

            }
        });


        $('.tagsinput').tagsinput({
            tagClass: 'label label-primary'
        });


        //$.fn.fileUploader = function (filesToUpload) {      //Shfaqen filet per tu shkarkuar ne nje liste
        //    this.closest(".files").change(function (evt) {

        //        for (var i = 0; i < evt.target.files.length; i++) {
        //            filesToUpload.push(evt.target.files[i]);
        //        };
        //        var output = [];
        //        var filename = "";
        //        for (var i = 0, f; f = evt.target.files[i]; i++) {
        //           filename = f.name;
        //            if (filename.length > 35) {
        //                filename=filename.slice(0,35)+"..."
        //            }
        //            output.push("<li><strong>", filename, "</strong> ",
        //                 "</li> ");
        //        }

        //        $(this).children(".fileList")
        //            .append(output.join(""));
        //    });
        //};

        //var filesToUpload = [];

        //$("#files1").fileUploader(filesToUpload);

        //$("#uploadBtn").click(function (e) {
        //    e.preventDefault();
        //});


        $.fn.fileUploader = function (filesToUpload) {
            this.closest(".files").change(function (evt) {

                for (var i = 0; i < evt.target.files.length; i++) {
                    filesToUpload.push(evt.target.files[i]);
                };
                var output = [];

                for (var i = 0, f; f = evt.target.files[i]; i++) {
                    var removeLink = "<a class=\"removeFile\" href=\"#\" data-fileid=\"" + i + "\">Fshi</a>";
                    filename = f.name;
                    if (filename.length > 35) {
                        filename=filename.slice(0,35)+"..."
                    }
                        output.push("<li><strong>", filename, "</strong> - "
                        , removeLink, "</li> ");
                    }

                $(this).children(".fileList")
                    .append(output.join(""));
            });
        };

        var filesToUpload = [];

        $(document).on("click", ".removeFile", function (e) {
            e.preventDefault();
            var fileName = $(this).parent().children("strong").text();
            // loop through the files array and check if the name of that file matches FileName
            // and get the index of the match
			//let fileList = Array.from(document.getElementById("getFile").files);
            for (i = 0; i < filesToUpload.length; ++i) {
				if (filesToUpload[i].name == fileName) {
					

                    
                    filesToUpload.splice(i, 1);
                }
			}
			console.log(document.getElementById("getFile").files);
            console.log(filesToUpload);
            // remove the <li> element of the removed file from the page DOM
            $(this).parent().remove();
        });


	$("#files1").fileUploader(filesToUpload);

        $("#uploadBtn").click(function (e) {
            e.preventDefault();
        });



        $.validator.setDefaults({   //Shfaqen mesazhet e validimit
            ignore: $('#ApplicationUserId')
		});


        $('#jstree1').on('click', '.js-edit', function () {

            var button = $(this);
            var docid = $(this).data('id')
            $.ajax({
                url: "/Home/PreviewDocument",
                data: { id: $(this).data('id') },   //Kalohet id e dokumentit ne action PreviewDocument
                                                    //Nqs objekti json qe vjen nga PreviewDocument nuk eshte null behet preview e dokumentit
				success: function (response) {
					if ((response && jQuery.isArray(response)) ? (response.length == 0 ? false : (jQuery.isPlainObject(response[0]) ? !jQuery.isEmptyObject(response[0]) : response[0])) : response) {
						function _base64ToArrayBuffer(base64) {

							var binary_string = null;
							binary_string = window.atob(base64);
							var len = null;
							len = binary_string.length;
							var bytes = null;
							bytes = new Uint8Array(len);
							for (let i = 0; i < len; i++) {
								bytes[i] = binary_string.charCodeAt(i);
							}
							return bytes.buffer;
						}
						var url = _base64ToArrayBuffer(response);
						var pdfDoc = null,
							pageNum = 1,
							pageRendering = false,
							pageNumPending = null,
							scale = 0.93,
							canvas = document.getElementById('the-canvas'),
							ctx = canvas.getContext('2d');

                        /**
                         * Get page info from document, resize canvas accordingly, and render page.
                         */
						function renderPage(num, scale) {
							pageRendering = false;
							// Using promise to fetch the page
							pdfDoc.getPage(num).then(function (page) {
								var viewport = page.getViewport(scale);
								canvas.height = viewport.height;
								canvas.width = viewport.width;

								// Render PDF page into canvas context
								var renderContext = {
									canvasContext: ctx,
									viewport: viewport
								};
								var renderTask = page.render(renderContext);

								// Wait for rendering to finish
								renderTask.promise.then(function () {
									pageRendering = false;
									if (pageNumPending !== null) {
										// New page rendering is pending
										renderPage(pageNumPending);
										pageNumPending = null;
									}
								});
							});

							// Update page counters
							document.getElementById('page_num').value = num;
						}

                        /**
                         * If another page rendering in progress, waits until the rendering is
                         * finised. Otherwise, executes rendering immediately.
                         */
						function queueRenderPage(num) {
							if (pageRendering) {
								pageNumPending = num;
							} else {
								renderPage(num, scale);
							}
						}

                        /**
                         * Displays previous page.
                         */
						function onPrevPage() {
							if (pageNum <= 1) {
								return;
							}
							pageNum--;
							var scale = pdfDoc.scale;
							queueRenderPage(pageNum, scale);
						}
						document.getElementById('prev').addEventListener('click', onPrevPage);

                        /**
                         * Displays next page.
                         */
						function onNextPage() {
							if (pageNum >= pdfDoc.numPages) {
								return;
							}
							pageNum++;
							var scale = pdfDoc.scale;
							queueRenderPage(pageNum, scale);
						}
						document.getElementById('next').addEventListener('click', onNextPage);

						//Async download
						PDFJS.getDocument(url).then(function (pdfDoc_) {
							pdfDoc = pdfDoc_;
							var documentPagesNumber = pdfDoc.numPages;
							document.getElementById('page_count').textContent = '/ ' + documentPagesNumber;

							$('#page_num').on('change', function () {
								var pageNumber = Number($(this).val());

								if (pageNumber > 0 && pageNumber <= documentPagesNumber) {
									queueRenderPage(pageNumber, scale);
								}

							});

							// Initial/first page rendering
							renderPage(pageNum, scale);
						});

					}

                    else {  //Nqs objekti json qe vjen nga PreviewDocument eshte null behet hide footer i modalit dhe shfaqet mesazhi qe nuk mund te behet preview
						document.getElementById("previewArea").style.display = 'none';
						document.getElementById("messageArea").style.display = 'block';
					}

				}

            });

        });


       $('#SearchResults').on('click', '.js-edit', function () {


            var button = $(this);
            var docid = $(this).data('id')
            $.ajax({
                url: "/Home/PreviewDocument",
                data: { id: $(this).data('id') },
				success: function (response) {
					if ((response && jQuery.isArray(response)) ? (response.length == 0 ? false : (jQuery.isPlainObject(response[0]) ? !jQuery.isEmptyObject(response[0]) : response[0])) : response) {
						function _base64ToArrayBuffer(base64) {

							var binary_string = null;
							binary_string = window.atob(base64);
							var len = null;
							len = binary_string.length;
							var bytes = null;
							bytes = new Uint8Array(len);
							for (let i = 0; i < len; i++) {
								bytes[i] = binary_string.charCodeAt(i);
							}
							return bytes.buffer;
						}
						var url = _base64ToArrayBuffer(response);
						var pdfDoc = null,
							pageNum = 1,
							pageRendering = false,
							pageNumPending = null,
							scale = 0.93,
							canvas = document.getElementById('the-canvas'),
							ctx = canvas.getContext('2d');

                        /**
                         * Get page info from document, resize canvas accordingly, and render page.
                         */
						function renderPage(num, scale) {
							pageRendering = false;
							// Using promise to fetch the page
							pdfDoc.getPage(num).then(function (page) {
								var viewport = page.getViewport(scale);
								canvas.height = viewport.height;
								canvas.width = viewport.width;

								// Render PDF page into canvas context
								var renderContext = {
									canvasContext: ctx,
									viewport: viewport
								};
								var renderTask = page.render(renderContext);

								// Wait for rendering to finish
								renderTask.promise.then(function () {
									pageRendering = false;
									if (pageNumPending !== null) {
										// New page rendering is pending
										renderPage(pageNumPending);
										pageNumPending = null;
									}
								});
							});

							// Update page counters
							document.getElementById('page_num').value = num;
						}

                        /**
                         * If another page rendering in progress, waits until the rendering is
                         * finised. Otherwise, executes rendering immediately.
                         */
						function queueRenderPage(num) {
							if (pageRendering) {
								pageNumPending = num;
							} else {
								renderPage(num, scale);
							}
						}

                        /**
                         * Displays previous page.
                         */
						function onPrevPage() {
							if (pageNum <= 1) {
								return;
							}
							pageNum--;
							var scale = pdfDoc.scale;
							queueRenderPage(pageNum, scale);
						}
						document.getElementById('prev').addEventListener('click', onPrevPage);

                        /**
                         * Displays next page.
                         */
						function onNextPage() {
							if (pageNum >= pdfDoc.numPages) {
								return;
							}
							pageNum++;
							var scale = pdfDoc.scale;
							queueRenderPage(pageNum, scale);
						}
						document.getElementById('next').addEventListener('click', onNextPage);


						PDFJS.getDocument(url).then(function (pdfDoc_) {
							pdfDoc = pdfDoc_;
							var documentPagesNumber = pdfDoc.numPages;
							document.getElementById('page_count').textContent = '/ ' + documentPagesNumber;

							$('#page_num').on('change', function () {
								var pageNumber = Number($(this).val());

								if (pageNumber > 0 && pageNumber <= documentPagesNumber) {
									queueRenderPage(pageNumber, scale);
								}

							});

							// Initial/first page rendering
							renderPage(pageNum, scale);
						});

					}

					else {
						document.getElementById("previewArea").style.display = 'none';
						document.getElementById("messageArea").style.display = 'block';
					}

				}

            });

        });


	</script>
}
