﻿@model ArkivaTest.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Ndrysho Fjalëkalimin";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arkiva | Ndrysho Fjalëkalimin</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">
</head>

<body class="gray-bg">
    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>

                <h4 class="logo-name">S&S</h4>

            </div>
            <h3>Ndrysho Fjalëkalimin</h3>

            @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @placeholder = "Fjalëkalimi i vjetër" })
                </div>

                <div class="form-group">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "Fjalëkalimi i ri" })
                </div>

                <div class="form-group">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Konfirmo Fjalëkalim" })
                </div>

                 <button type="submit" class="btn btn-primary">Ruaj Ndryshimet</button>
            }

        </div>
    </div>
</body>
</html>
@section Scripts {
@Scripts.Render("~/bundles/jqueryval")
}
