﻿@model ArkivaTest.Models.IndexViewModel
@{
    ViewBag.Title = "Përdorues";
}
@using Microsoft.AspNet.Identity
<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div style="text-align:center">
    <h2>Të dhënat personale të përdoruesit</h2>

 
	<p>
		<strong>Adresa Email:</strong>

		@User.Identity.GetUserName()
	</p>
        <p><strong>Fjalëkalimi:</strong>
        

            @if (Model.HasPassword)
            {
                @Html.ActionLink("Ndrysho Fjalëkalimin", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }

        </p>

</div>
