﻿@using ArkivaTest.Models
@model LoginViewModel
@{
    ViewBag.Title = "Identifikim";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arkiva | Login</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">

</head>
<body class="gray-bg">
    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>

                <h4 class="logo-name">S&S</h4>

            </div>
            <h3>Mirësevini në Arkivë</h3>
            <p>Identifikohuni</p>

            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "m-t", role = "form" }))
            {
                @Html.ValidationSummary("", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email", @autocomplete = "off" })

                </div>

                <div class="form-group">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control m-t", @placeholder = "Fjalëkalim" })

                </div>

                <button type="submit" class="btn btn-primary block full-width m-b">Identifikohu</button>
                <p class="text-muted text-center"><small>Nuk keni një llogari ekzistuese?</small></p>
                @Html.ActionLink("Regjistrohuni tani", "Register", new { @class = "btn btn-sm btn-white btn-block" })
                @Html.AntiForgeryToken()
            }
            <p class="m-t"><small>Arkiva - &copy; @DateTime.Now.Year </small> </p>
        </div>
    </div>
    </body>
</html>

@section Scripts {
@Scripts.Render("~/bundles/jqueryval")
}
