﻿@model ArkivaTest.Models.RegisterViewModel
@{
    ViewBag.Title = "Regjistrim";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arkiva | Regjistrim</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">
</head>

<body class="gray-bg">
    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>

                <h4 class="logo-name">S&S</h4>

            </div>
            <h3>Regjistrohuni në Arkivë</h3>

            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "m-t", role = "form" }))
            {
            <p>Krijoni një llogari të re</p>
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email", @autocomplete = "off" })
                </div>

                <div class="form-group">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Fjalëkalim" })
                </div>

                <div class="form-group">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Konfirmo Fjalëkalim" })
                </div>

                <button type="submit" class="btn btn-primary block full-width m-b">Regjistrohu</button>

                <p class="text-muted text-center"><small>Keni një llogari ekzistuese?</small></p>
                @Html.ActionLink("Identifikohu", "Login", new { @class = "btn btn-sm btn-white btn-block" })
                @Html.AntiForgeryToken()
            }
        </div>
    </div>
</body>
</html>
            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
<script>
	$('form').submit(function () {
            if ($(this).valid()) {
                $(this).find(':submit').attr('disabled', 'disabled');
            }
        });
</script>